{% block footer %}
<footer class="white-background">
    <p class="general-padding no-margin text-center">Les images proviennent des sites:
        <a href="https://commons.wikimedia.org/wiki/Main_Page">wikimedia</a> et <a href="https://pixabay.com">pixabay</a>
    </p>
</footer>

<script src="../public/js/Slider.js"></script>
<script src="../public/js/script.js"></script>
{% endblock %}