{% block footer %}
    <footer class="white-background">
        <p class="general-padding no-margin text-center">Les images proviennent des sites:
            <a href="https://commons.wikimedia.org/wiki/Main_Page">wikimedia</a> et <a href="https://pixabay.com">pixabay</a>
        </p>
    </footer>

    <script src='../public/tinymce/js/tinymce/tinymce.min.js'></script>
    <script>
        tinymce.init({
            selector: '#tiny',
            language : "fr_FR",
            forced_root_block : false,
            force_br_newlines : true,
            force_p_newlines : false
        });
    </script>
{% endblock %}