{% block footer %}
    <footer class="white-background">
        <p class="general-padding no-margin">plusieurs liens seront mis ici</p>
        {{ app.request.session.get("pseudo") }}
    </footer>

    <script src='../public/tinymce/js/tinymce/tinymce.min.js'></script>
    <script>
        tinymce.init({
            selector: '#tiny',
            language : "fr_FR",
            forced_root_block : false,
            force_br_newlines : true,
            force_p_newlines : false
        });
    </script>
{% endblock %}