{% block header %}
    <header class="white-background">
        <h1 class="text-center no-margin general-padding"><a href="index.php">Billet simple pour l'Alaska</a></h1>
        <nav>
            <div class="display-flex flex-end">
                {% if session.pseudo is defined and session.group_id == 1 %}
                    <ul class="display-flex ul-size align-center">
                        <p>Administration:</p>
                        <li>
                            <a href="index.php?action=createArticle" class="align-self-center">Ecrire un article</a>
                        </li>
                        <li>
                            <a href="index.php?action=moderate" class="align-self-center">Modération</a>
                        </li>

                        <li>
                            <a href="index.php?action=disconnect" class="align-self-center">Se déconnecter</a>
                        </li>
                    </ul>
                {% elseif session.pseudo is defined and session.group_id == 0 %}
                    <ul class="display-flex ul-size">
                        <li>
                            <a href="index.php?action=disconnect" class="align-self-center">Se déconnecter</a>
                        </li>
                    </ul>
                {% else %}
                    <ul class="display-flex ul-size">
                        <li>
                            <a href="index.php?action=login" class="align-self-center">Se connecter</a>
                        </li>
                        <li>
                            <a href="index.php?action=register" class="align-self-center">Créer un compte</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
            {% if session.pseudo is defined %}
                <p class="general-padding no-margin text-right">Vous êtes connecté en tant que {{ session.pseudo }} !</p>
            {% endif %}
        </nav>
    </header>
{% endblock %}