{% block title %} Billet simple pour L'alaska - Administration {% endblock %}

{% extends '/backend/template.twig' %}

{% block content %}
    <main role="main" class="white-background">
        <h2 class="general-padding">Modification d'un article</h2>
        <p class="general-padding no-margin"><a href="index.php">Retour à la liste des billets</a></p>
        <form method="post">
            <div>
                <label>Titre</label>
                <input id="title" name="title" value="{{ post.title }}" required="required">
            </div>
            <div>
                <textarea id="tiny" name="content" required="required">{{ post.content }}</textarea>
            </div>
            <div>
                <button type="submit">Envoyer</button>
            </div>
        </form>
    </main>
{% endblock %}