{% block title %} Billet simple pour L'alaska - Administration {% endblock %}

{% extends '/backend/template.twig' %}

{% block content %}
    <main class="white-background">
        <h2 class="general-padding">Modification d'un article</h2>
        <p class="general-padding no-margin"><a href="index.php">Retour à la liste des billets</a></p>
        <form action="index.php?action=checkModify&id={{ post.id }}" method="post">
                <label for="title">Titre</label>
                <input id="title" name="title" value="{{ post.title }}" required="required">
                <label for="tiny"></label>
                <textarea id="tiny" name="content" required="required">{{ post.content }}</textarea>
                <input type="submit" value="Envoyer" class="align-center">
        </form>
    </main>
{% endblock %}