/*      Principal Design        */
body {
    font-family: 'Jura', sans-serif;
    font-size: 1.2em;
    margin: 0;
    background-color: rgba(0,102,204,0.5);
}

header {
    width: 90%;
    -webkit-border-radius: 60px 60px 0 0;
    -moz-border-radius: 60px 60px 0 0;
    border-radius: 60px 60px 0 0;
    margin: 3% auto 0;
}

footer {
    width: 90%;
    -webkit-border-radius: 0 0 60px 60px;
    -moz-border-radius: 0 0 60px 60px;
    border-radius: 0 0 60px 60px;
    margin: 0 auto 3%;
}

main {
    width: 90%;
    margin: auto;
    padding: 0 0 1%;
}

nav {
    background-color: rgba(255, 255, 255, 0.8);
}

figure {
    margin: 0;
}

h1, h2 {
    padding: .7em 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: cornflowerblue;
}

a:visited {
    color: cornflowerblue;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

input {
    width: 30%;
    height: 25px;
    background-color: white;
    border: 1px solid white;
}

input[type="submit"]{
    display: block;
    height: 45px;
    margin: 1% auto;
    padding: 1%;
    border-radius: 5px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 1px solid white;
    -webkit-text-fill-color: black;
    -webkit-box-shadow: 0 0 0 1000px white inset;
    transition: background-color 5000s ease-in-out 0s;
}

textarea {
    height: 250px;
    max-width: 100%;
    min-width: 100%;
}

.ul-size {
    margin: 0;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.display-flex {
    display: flex;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.position-absolute {
    position: absolute;
}

.z-center-block {
    margin: 0 auto;
}

.full-size {
    width: 100%;
    height: 100%;
}

.transparency {
    opacity: 0;
}

.align-center {
    align-items: center;
}

.align-self-center {
    align-self: center;
}

.space-content {
    justify-content: space-around;
}

.space-btw {
    justify-content: space-between;
}

.flex-end {
    justify-content: flex-end;
}

.white-background {
    background-color: rgba(255, 255, 255, 0.8);
}

.white-color {
    color: rgba(255, 255, 255, 0.8);
}

.no-margin {
    margin: 0;
}

.general-padding {
    padding: 0.7em;
}

.bg-bar {
    background-color: rgba(255,255,255,0.5);
    border-top: 2px solid white;
}

/*      Secondary Design        */
/* -- Header : NavBar -- */
nav li {
    padding: 10px;
}

/* -- Slider Design -- */
.circle-icon {
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    height: 40px;
    width: 40px;
    line-height: 40px;
}

.slider {
    position: relative;
    width: 100%;
    height: 560px;
}

.right {
    right: 0;
}

.left {
    left: 0;
}

.play {
    display: none;
    opacity: 0.4;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.pause {
    opacity: 0.4;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.background-icon {
    background-color: rgba(0, 0, 0, 0.3);
}

.icon-center {
    align-items: center;
    margin: auto;
    flex-direction: column;
    height: 10%;
}

.showslider {
    width: 100%;
    height: 100%;
}



/* -- End Slider Design -- */


.title-design {
    border-bottom: 2px solid white;
    background-color: rgba(255,255,255,0.5);
}

.title-comment-design {
    border: 2px solid white;
    padding: 1%;
    background-color: rgba(255,255,255,0.5);
}

.paragraph-design {
    border: 2px solid white;
    margin: 1%;
}

.article-font {
    font-family: 'Indie Flower', cursive;
}

.comment-design {
    width: 75%;
    margin: 2% auto 1%;
}

.design-txtarea {
    padding: 0;
    border: 2px solid white;
    width: 95%;
}

.width-form {
    width: 97%;
}


@media (max-width: 768px) {
    header {
        width: 100%;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        margin: 0;
    }

    main {
        width: 100%;
    }

    footer {
        width: 100%;
        margin: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

    nav {
        text-align: center;
    }

    nav div {
        display: block !important;
    }

    nav ul {
        display: block !important;
    }

    input {
        width: 100%;
    }

    .slider {
        height: 370px;
    }

}